.signIn__main_select {
    flex: 0.4;
    display: flex;
    flex-direction: column;

    select {
        background-color:rgba(207, 207, 207, 0.2);
        color:white;
        outline:none;
        border: 2px solid #f87e59;
        font-style: italic;
        border-radius: 8px;

        option {
            background-color: #f87e59;
            text-transform: uppercase;
            font-style: normal;
            font-family: Roboto;
        }
    }

    select::placeholder {
        color: #fff;
        font-size: 14px;
    }

    select:focus {
        background-color:rgba(163, 163, 163, 0.2);
    }

    .signIn__main_button {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            margin-top: 5%;
        }
    }
}