.home__caption {
    width: 85%;
    max-width: 100%;
    margin: 150px auto;

    .home__caption_main {
        font-size: 3.6rem;
        color: #fff;
        font-weight: 700;
    }

    .home__caption_aside {
        color:#a13a1b;
        font-weight: 700;
        font-size: 2.5rem;
    }

    .home__caption_btn {
        margin-top: 100px;
        display: flex;

        div {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 650px) {
    .home__caption {
        margin: 40px auto;
        display: grid;
        place-items: center;

        .home__caption_main {
            font-size: 2.4rem;
            text-align: center;
        }

        .home__caption_aside {
            font-size: 1.8rem;
        }

        .home__caption_btn {
            width: 90%;
            margin: 60px auto;
            justify-content: center;

            div {
                margin-right: 10px;
            }
        }
    }
}